<nav class="bg-primary">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">valstories</a>
      <a href="#" data-target="main-menu" class="button-collapse show-on-large sidenav-trigger">
        <i class="fa fa-bars"></i>
      </a>
      <!-- Right nav -->
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li>
          <a href="/dashboard">Привет, {{user.firstName}}</a>
        </li>
        <li>
          <a href="/auth/logout">
            <i class="fa fa-sign-out"></i>Выйти</a>
        </li>
        {{else}}
        <li>
          <a href="/stories">
            <i class="fa fa-book"></i>
            Публичные истории
          </a>
        </li>
        {{/if}}
      </ul>
      <!-- SIDE MENU -->
      <ul class="sidenav" id="main-menu">

        {{#if user}}
        {{else}}
        <li>
          <a href="/auth/google" class="btn red darken-1">
            <i class="fa fa-google left"></i>
            Login with google
          </a>
        </li>
        {{/if}}
        <li>
          <a href="/stories">
            <i class="fa fa-book"></i>
            Публичные истории
          </a>
        </li>
        {{#if user}}
        <li class="divider"></li>
        <li>
          <a href="/dashboard">
            <i class="fa fa-cog"></i>
            Доска историй
          </a>
        </li>
        <li>
          <a href="/stories/my">
            <i class="fa fa-user"></i>
            Мои истории
          </a>
        </li>
        <li>
          <a href="/auth/logout">
            <i class="fa fa-sign-out"></i>
            Выйти
          </a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
