@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');


:root {
  --stories-header: 36px;
  --primary-color: #78909C;
  --secondary-color: #607D8B;
  --spacer: 16px;
  --fsize: 16px;
  --grid-column: repeat(auto-fill, minmax(280px, 1fr));
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

main {
  flex: 1 0 auto;
}

p {
  margin: calc(var(--spacer)/2) 0 !important;
}

.sticky-bar {
  position: sticky;
  top: var(--spacer);
}

.row-flex {
  margin: 0 -0.75rem !important;
  display: flex;
  flex-wrap: wrap;
}

.nav-wrapper
.fa-bars {
  font-size: calc(var(--spacer) * 1.5);
}

.soc-img-wrapper {
  width: 120px;
  height: 120px;
}

/* dashboard */

.dash-table td,
.dash-table th {
  padding: var(--spacer);
  max-width: 460px;
  overflow: hidden;
}

.dash-date {
  width: 140px;
}

.dash-status {
  text-transform: capitalize;
}

/**
 * * Comments
*/

.comment-author {
  font-size: calc(var(--fsize) * 0.875);

}

.comment-text {

}

.comment-date {
font-size: calc(var(--fsize) * 0.75);
}

/*
 * atomic styles
*/

.first-title {
  font-size: var(--stories-header);
}

.t-lc {
  text-transform: lowercase !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.m-0 {
  margin: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mt-3 {
  margin-top: var(--spacer) !important;
}

.fz-14 {
  font-size: var(--spacer) * 0.875 !important;
}

.stories-header h1 {
  font-size: var(--stories-header) !important;
}

.grider {
  display: grid;
  grid-template-columns: var(--grid-column);
  grid-gap: 16px;
}

/*
  Медиавыражения
*/

@media (max-width: 1280px) {
  :root {
    --stories-header: 30px !important;
    }
}

@media (max-width: 480px) {
  :root {
  --stories-header: 28px !important;
  }
  .container {
    width: 100% !important;
  }
}


