<h4>Доска историй</h4>
{{#if stories}}
<table class="striped dash-table">
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Краткое описание</th>
      <th class="dash-date">Дата</th>
      <th>Статус</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each stories}}
    <tr>
      <td>{{title}}</td>
      <td>{{ stripTags (truncate body 150) }}</td>
      <td>{{formatDate date}}</td>
      <td>
        <span class="dash-status">{{status}}</span>
      </td>
      <td>
        <a href="/stories/edit/{{id}}" class="btn bg-primary">
          Редактировать
        </a>
      </td>
      <td>
        <form action="/stories/{{id}}?_method=DELETE" id="delete-form" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn red" type="submit">
            Удалить
          </button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<p class="mt-3">
<a href="/stories/add" class="btn large primary">Создать</a>
</p>

{{else}}
<p>У тебя нет историй...</p>
<a href="/stories/add" class="btn large primary">Создать</a>
{{/if}}
