<h1>Добрый денечек</h1>
<p>Это приложение для создания историй, приватных и публичных</p>
{{#if user}}

{{else}}
<a href="/auth/google" class="btn red darken-1">
  <i class="fa fa-google left"></i>
  Login with google
</a>
{{/if}}
