<header class="stories-header">
  <h1>Редактирование</h1>
</header>
<div class="row">
  <form action="/stories/{{story.id}}?_method=PUT" method="post" class="col s12">
  <input type="hidden" name="_method" value="PUT">
    <div class="row">
      <div class="input-field">
        <input type="text" name="title" id="title" value="{{story.title}}">
        <label for="title">Заголовок</label>
      </div>

      <div class="input-field">
        <select name="status">
          <option value="public" selected>Публично</option>
          <option value="private">Приватно</option>
          <option value="unpublished">Не публиковать</option>
        </select>
        <label for="status">Статус</label>
      </div>

      <p>
        <label>
          <input type="checkbox" class="filled-in" {{#if story.allowComments}} checked="checked" {{/if}} />
          <span>Разрешить комментарии</span>
        </label>
      </p>

      <div class="input-field">
        <h5>Расскажи свою историю</h5>
        <textarea name="body">{{story.body}}</textarea>
      </div>

      <input type="submit" value="Сохранить" class="btn">
    </div>
  </form>
</div>


