<header>
  <h1 class="first-title">Истории</h1>
</header>
<div class="grider">
  {{#each stories}}
  <div>
    <div class="card">
      <div class="card-image">
        <a href="/stories/edit/{{id}}" class="btn-floating halfway-fab bg-secondary">
          <i class="fa fa-pencil small"></i>
        </a>
      </div>
      <div class="card-content center-align">
        <h5>{{title}}</h5>
        <p class="story-text">{{stripTags (truncate body 150)}}</p>
        <br/>
        <div class="chip">
          <img src="{{user.image}}" alt="Contact Person"> {{user.firstName}} {{user.lastName}}
        </div>
      </div>
      <div class="card-action center-align">
        <a href="/stories/show/{{id}}" class="btn bg-secondary">Читать полностью</a>
      </div>
    </div>
  </div>
  {{else}}
  <p>Истории ещё не созданы</p>
  {{/each}}
</div>
