<div class="row mt-3">
  <div class="col s12 m9">
    <header>
      <h1 class="first-title">{{story.title}}</h1>
    </header>
    <div class="card story">
      <div class="card-content">
        <span class="card-title fz-14">Опубликовано: {{formatDate story.date 'MMMM Do YYYY'}}</span>
        {{{story.body}}}
      </div>
    </div>
    <p>
      <button class="btn bg-secondary modal-trigger" data-target="comment-modal">Комментировать</button>
    </p>
  </div>
  <div class="col s12 m3 sticky-bar">
    <div class="card center-align">
      <div class="card-content">
        <span class="card-title">{{story.user.firstName}} {{story.user.lastName}}</span>
        <span class="soc-img-wrapper">
          <img class="circle responsive-img" src="{{story.user.image}}" alt="Аватар">
        </span>
      </div>
      <div class="card-action">
        <a href="/stories/user/{{story.user.id}}" class="m-0">
          <span class="t-lc">Ещё от</span>
          <b>{{story.user.firstName}}</b>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <span>Комментарии:</span>
  </div>
  <div class="col s12">
    {{#each story.comments}}
    <div class="card white-grey darken-1">
      <div class="card-content">
        <header>
          <h6 class="comment-author">
            Автор: <b>{{userName}}</b>
          </h6>
        </header>
        <p class="comment-text">
          {{commentBody}}
        </p>
        <span class="comment-date">
          Дата: {{formatDate commentDate 'MMMM Do YYYY'}}
        </span>
      </div>
    </div>
    {{/each}}
  </div>
</div>



<div id="comment-modal" class="modal">
  <div class="modal-content">
    <h4>Комментарий</h4>
    <form action="/stories/show/{{story.id}}" method="post">
      <div class="input-field col s12">
        <textarea name="comment" class="materialize-textarea"></textarea>
      </div>
      <p>
        <input type="submit" class="btn primary" value="Подтвердить">
      </p>
  </div>
  </form>
</div>
</div>
